@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.footerBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    height: 5vh;
}